<% include header %>
<% include navbar %>

<div class="description">
    <div style="display: inline-block">
        Your Cart
    </div>
    <div class="pay">
        <form action="pay">
            <button class="btn btn-success payButton">Pay</button>
        </form>
    </div>
</div>
<table class="table table-striped table-hover marginedContainer ">
    <thead>
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Change Order</th>
    </tr>
    </thead>
    <tbody>
    <% product.forEach(function(product){ %>
    <%- include('productTableCell', {product: product}); %>
    <% }); %>
    </tbody>
</table>


</div>
<div class="overlay">
    <div id="overlayImage"></div>
    <div id="overlayText"></div>
</div>
<% include footer %>