<% include header %>
<% include navbar %>


<table class="table table-striped table-hover marginedContainer ">
    <p class="description">Edit users</p>
    <thead>
    <tr>
        <th>Username</th>
        <th>Profil Picture</th>
        <th>Edit user</th>
        <th>Delete user</th>
    </tr>
    </thead>
    <tbody>

    <% users.forEach(function(users){ %>
    <%- include('userTableCell', {user: users}); %>
    <% }); %>
    </tbody>
</table>

</div>
<div class="overlay">
    <div id="overlayImage"></div>
    <div id="overlayText"></div>
</div>
<% include header %>