<% include header %>

<div class="siteWrapper">
    <div class="siteTitle">MEME Shop</div>
    <div class="middleBox">
        <p>Login:</p>
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <form action="webshop">
            <input type="submit" class="btn btn-success" value="Login">

            <span style="padding-left: 40px"><a href="forgetpassword.ejs">Forget password?</a></span>
        </form>
    </div>

</div>
<% include footer %>