<div class="siteWrapper">
    <!--Navbar begin-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand siteTitle" href="webshop">MEME Shop</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="webshop">Shop</a></li>
                <li><a href="cart">Cart</a></li>
                <% if (role === 1){ %>
                <li><a href="createproduct">Create Product</a></li>
                <li><a href="editusers">Edit Users</a></li>
                <%}%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <!--Navbar end-->