<tr>
    <td><%= user.name%></td>
    <td>
        <div style='background-image:url(<%= user.picture%>)' class="thumbnail custom"></div>
    </td>
    <td>
        <form method="post">
        <button id="<%user._id%>" class="btn btn-primary ">Edit</button>
        </form>
    </td>
    <td>
        <button id="<%user._id%>" class="btn btn-danger ">Delete</button>
    </td>
</tr>