@import "bootstrap.min.css";
@import "bootstrap-theme.css";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

@font-face {
    font-family: "Kelly Slab";
    src: url('KellySlab-Regular.ttf')
}

body {
    background-color: #fafafa;
    font-family: 'Roboto Slab', serif;
}

div.siteTitle {
    font-family: 'Kelly Slab', cursive;
    margin: auto;
    text-align: center;
    font-size: 5em;

}

a.siteTitle {
    font-family: 'Kelly Slab', cursive;
    font-size: 2em;
}

div.siteWrapper {
    width: 100%;
    position: relative;
    min-height: 95vh;
}

div.middleBox {
    width: 60%;
    margin: auto;
    margin-top: 100px;
}

.bordered {
    border: solid;

}

div.thumbnail {
    height: 3em;
    width: 3em;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
}

div.thumbnail:hover {
    transform: scale(5);
    cursor: pointer;
}

.marginedContainer {
    margin-top: 4em;
    margin-left: 5%;
    width: 90%;
}

.description {
    font-family: 'Kelly Slab', cursive;
    font-size: 2.5em;
    margin-left: 20px;
}

a.currentPage {
    text-decoration: underline;
}
div.pay {
    display: inline-block;
    margin-left: 60%;
    width: 15%;
}
button.payButton{
    font-size: 1em;
    width: 100%;
}